@model EvidenceKoni.Models.Stable

@{
    ViewData["Title"] = "Delete";
}


<h1 class="text-center">Odstranit</h1>

<h3 class="text-center">Opravdu chcete smazat tento záznam?</h3>

<div class="container d-flex justify-content-center align-items-center">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Paid)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.StabledFrom)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StabledFrom)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.StabledTo)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.StabledTo)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Note)
                </td>
            </tr>
            <tr>
                <th class="col-sm-2 text-right">
                    @Html.DisplayNameFor(model => model.Owners.FullName)
                </th>
                <td class="col-sm-10">
                    @Html.DisplayFor(model => model.Owners.FullName)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Smazat" class="btn btn-danger me-2" />
                        <a asp-action="Index" class="btn btn-outline-primary">Zpět na seznam</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
