@model EvidenceKoni.Models.Stable

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Přehled</h1>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Paid)</th>
            <th>@Html.DisplayNameFor(model => model.StabledFrom)</th>
            <th>@Html.DisplayNameFor(model => model.StabledTo)</th>
            <th>@Html.DisplayNameFor(model => model.Note)</th>
            <th>@Html.DisplayNameFor(model => model.Owners.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Horse.Name)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Paid)</td>
            <td>@Html.DisplayFor(model => model.StabledFrom)</td>
            <td>@Html.DisplayFor(model => model.StabledTo)</td>
            <td>@Html.DisplayFor(model => model.Note)</td>
            <td>@Html.DisplayFor(modelItem => Model.Owners.FullName)</td>
            <td>@Html.DisplayFor(modelItem => Model.Horse.Name)</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <div class="me-2">
        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a>
        <a class="btn btn-outline-dark" asp-action="Index">Zpět na seznam</a>
    </div>
</div>


