@model IEnumerable<EvidenceKoni.Models.Stable>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<partial name="_Notification" />

<h1 class="text-center">Přehled ustájení</h1>

<div class="btn btn-group">
    @if (User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-outline-dark" asp-action="Create">Nové ustájení</a>
    }
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">Hlavní stránka</a>
</div>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">

            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Stables" asp-action="Index" asp-route-pg="1">První</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Stables" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Předchozí</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" :"")">
                    <a class="page-link" asp-controller="Stables" asp-action="Index" asp-route-pg="@pge">@pge</a>

                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Stables" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Další</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Stables" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Poslední</a>
                </li>
            }


        </ul>
    }

</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Owners.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Horse.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Paid)</th>
            <th>@Html.DisplayNameFor(model => model.StabledFrom)</th>
            <th>@Html.DisplayNameFor(model => model.StabledTo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Owners.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Horse.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Paid)</td>
                <td>@Html.DisplayFor(modelItem => item.StabledFrom)</td>
                <td>@Html.DisplayFor(modelItem => item.StabledTo)</td>
                <td>
                    <div class="btn btn-group">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detaily</a>
                        @if (User.IsInRole(UserRoles.Admin))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Upravit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Smazat</a>
                        }
                        
                    </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
