@model EvidenceKoni.Models.Horse

@{
    ViewData["Title"] = "Info o koni";
}

<h1>Kůň</h1>

<div class="row">
    <div class="col-6">
        <h4>Kůň</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Burn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Burn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Chip)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Chip)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LifeNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LifeNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Breed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Breed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sex)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <h4>Procedury</h4>
        <hr/>
        @foreach(var procedure in Model.Procedures)
        {
            <div class="border border-dark border-2">
				<dl class="row">
					<dt class="col-sm-4">
						Typ zákroku
					</dt>
					<dt class="col-sm-4">
						Popis zákroku
					</dt>
					<dd class="col-sm-8">
						@procedure.Operation
					</dd>
					<dt class="col-sm-4">
						Datum zákroku
					</dt>
					<dd class="col-sm-8">
						@procedure.DateOfProcedure
					</dd>
					<dt class="col-sm-4">
						Cena zákroku
					</dt>
					<dd class="col-sm-8">
						@procedure.Price
					</dd>
				</dl>
            </div>
            
           
        }

    </div>
    <a class="btn btn-outline-dark" asp-controller="Horses" asp-action="Index">Zpět na přehled</a>
</div>

