@model EvidenceKoni.Models.Owner


@{
    ViewData["Title"] = "@Model.FullName";
}


<h1>@Model.FullName</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Telefon:</th>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">E-mail:</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Adresa:</th>
                    <td>@Model.Adress</td>
                </tr>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Město:</th>
                    <td>@Model.City</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-8">
        <h3>Koně</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Jméno</th>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Datum narození</th>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Barva</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var horse in Model.Horses)
                {
                    <tr>
                        <td style="padding: 10px;"><a class="text-decoration-none text-success" asp-controller="Horses" asp-action="Details" asp-route-id="@horse.Id"><strong>@horse.Name</strong></a></td>
                        <td style="padding: 10px;">@horse.BirthDate.ToShortDateString()</td>
                        <td style="padding: 10px;">@horse.Color</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-8">
        <h3>Ustájení</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Frekvence platby</th>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Ustájený od</th>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Ustájený do</th>
                    <th style="background-color: #f8f9fa; font-weight: bold; padding: 10px;">Cena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stable in Model.Stables)
                {
                    <tr>
                        <td><a class="text-decoration-none text-success" asp-controller="Stables" asp-action="Details" asp-route-id="@stable.Id"><strong>@stable.Paid</strong></a></td>
                        <td>@stable.StabledFrom.ToShortDateString()</td>
                        <td>@stable.StabledTo.ToShortDateString()</td>
                        <td>@stable.Price</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn btn-group">
            <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a>
            <a class="btn btn-outline-dark" asp-action="Index">Zpět na seznam</a>
        </div>
    </div>
</div>


