@model IEnumerable<EvidenceKoni.Models.Owner>

@{
    ViewData["Title"] = "Majitelé";

    Pager pager = new Pager();

    int pageNo = 0;
    
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}


<div class="btn btn-group">
    @if (User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-outline-dark" asp-action="Create">Nový majitel</a>
    }
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">Hlavní stránka</a>
</div>

<partial name="_pager" model="@pager" />

<div class="container">
    <h1 class="text-center">Seznam majitelů</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card shadow hover-card">
                    <div class="card-header">
                        <i class="fas fa-user fa-2x"></i>
                        <h2 class="text-center">@item.FullName</h2>
                    </div>
                    <div class="card-body p-3">
                        <p class="text-center">@item.Phone</p>
                        <p class="text-center">@item.Email</p>
                        <p class="text-center">@item.City<span>, @item.Adress</span></p>
                    </div>
                    <div class="card-footer" align="center">
                        <div class="btn btn-group justify-content-center">
                            <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Detaily</a>
                            @if (User.IsInRole(UserRoles.Admin))
                            {
                                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Upravit</a>
                                <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<partial name="_pager" model="@pager" />

