@model EvidenceKoni.Models.Procedure

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Přehled</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Operation)</th>
                <th>@Html.DisplayNameFor(model => model.DateOfProcedure)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.Note)</th>
                <th>@Html.DisplayNameFor(model => model.Horse.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Worker.FullName)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Operation)</td>
                <td>@Html.DisplayFor(model => model.DateOfProcedure)</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
                <td>@Html.DisplayFor(model => model.Note)</td>
                <td>@Html.DisplayFor(model => model.Horse.Name)</td>
                <td>@Html.DisplayFor(model => model.Worker.FullName)</td>
            </tr>
        </tbody>
    </table>

<div class="d-flex justify-content-between align-items-center">
    <div class="me-2">
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </div>
</div>


@*
    <h1>Details</h1>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfProcedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfProcedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horse.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

*@

